/* Please don't cange this file. To implement custom css, use config! */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	font-family: Robito, Arial, sans-serif, monospace;
	line-height: 135%;
}

table {
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

td, th {
	margin: 0px;
	padding: 3px;
	border: 1px solid black;
}

th {
	text-align: left;
}

pre, code {
	border-radius: 5px;
	background-color: #b5b2b1;
	line-height: 135%;
	display: inline-block;
	padding: 2px;
}

pre {
	width: 99%;
	margin-left: .5%;
	overflow-x: auto;
}

blockquote {
	background: #e1e1e1;
	border-left: 3px solid #bfbfbf;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
}
